.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.infos{
  display: flex;
  align-items: center;
  margin-right: 20rem;
  margin-bottom: 1rem;
}
.infos h1{
  color: #228A95;
  font-size: 24pt;
  margin-right: 5rem;
  width: 10rem;
}
.infos #plus-icon{
  width: 40px;
  height: 45px;
  margin-right: 1rem;
}
.infos #files-icon{
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}


.setValue{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.setValue h1{
  color: #228A95;
  font-size: 15pt;
  font-weight: 400;
}

.setValue input[type=text]{
  width: 300px;
  height: 40px;
  background: #F8F8F8;
  color: #777777;
  text-align: center;
  border: none;
  font-size: 12pt;
  margin-top: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.setValue input[type=text]:focus{
  outline: none;
  border: 1px solid grey;
}

.setValue input[type=text]:hover{
  background: #e6e6e6;
}
.setValue input[type=submit]{
  height: 40px;
  width: 90px;
  border: none;
  background-color: #228A95;
  color: #FFFFFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 700;
}
input[type=submit]:hover{
  background-color: #1f7c86;
} 

input[type=submit]:active{
  background-color: #1a6972;
} 

input[type=submit]:focus{
  outline: none;
  border: 1px solid grey;
}


.clientDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F8F8F8;
  width: 350px;
  height: 250px;
}

.clientDiv h3{
  color: #777777;
  font-weight: 400; 
  margin-bottom: 1rem;
}

.clientDiv h2{
  color: #EF9C4B;
  font-weight: 400;
  font-size: 14pt;
  margin-bottom: 1rem;
}

.clientDiv h1{
  color: #228A95;
  margin-bottom: 1rem;
}

.clientDiv input[type=submit]{
  height: 60px;
  width: 250px;
  border: none;
  background-color: #228A95;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20pt;
  border-radius: 3px;
}

.clientDiv input[type=submit]:hover{
  background-color: #1f7c86;
} 

.clientDiv input[type=submit]:active{
  background-color: #1a6972;
} 

.clientDiv input[type=submit]:focus{
  outline: none;
  border: 1px solid grey;
}